{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<h1>500 &ndash; {% trans "Erreur interne" %}</h1>
<p>{% blocktrans %}
La page demandée a provoqué une erreur interne au serveur.
Si l'erreur persiste, veuillez contacter les administrateurs.
{% endblocktrans %}</p>
{% endblock %}
