{# vim: set syntax=htmldjango : #}<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
{% load i18n %}
{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
  <head>
		<title>{% block title %}Chocola{% endblock %}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<link rel="stylesheet" href="{% static "css/seminar.css" %}" type="text/css"/>
		<link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css"/>
		<link rel="stylesheet" href="{% static "css/screen.css" %}" media="screen" type="text/css"/>
		<link rel="stylesheet" href="{% static "css/handheld.css" %}" media="handheld" type="text/css"/>
  </head>
  <body> 
		{% block main %}
		<div id="main">
			{% block content %}
			{% endblock %}
		</div>
		{% endblock %}
		<div id="sidebar">
			<div id="sitename">
				<div class="logo"><img src="{% static "images/chocola.png" %}" alt="Chocola"/></div>
				<div id="logo_ens">
					<a href="http://www.ens-lyon.eu/"><img alt="ENS Lyon" src="{% static "images/ENS-Lyon.png" %}"/></a>
				</div>
				<div id="logo_milyon">
					<a href="http://milyon.universite-lyon.fr/"><img alt="Labex Milyon" src="{% static "images/logo-milyon-basealign.png" %}"/></a>
				</div>
				<div id="logo_ia">
					<a href="http://www.gouvernement.fr/investissements-d-avenir-cgi"><img alt="Investissements d'avenir" src="{% static "images/logo_investirlavenir_rvb.png" %}"/></a>
				</div>
				<div id="logo_ulyon">
					<a href="http://www.universite-lyon.fr/"><img alt="Université de Lyon" src="https://www.universite-lyon.fr/uas/ksup/LOGO/UDL_logo_Quadri-01.svg"/></a>
				</div>
			</div>
			<div id="navigation"><ul>
				<li class="nav_group">
					<span class="title">{% trans "Menu" %}:</span>
					<ul>
					<li><a href="/">{% trans "Home" %}</a></li>
					<li><a href="http://www.ens-lyon.fr/LIP/index.php/useful-informations#Venir">{% trans "Access" %}</a></li>
					<li><a href="{% url 'seminar-event-list' %}">{% trans "Meetings" %}</a></li>
					</ul>
				</li>
				{% if user.is_authenticated %}
				<li class="nav_group">
					<span class="title">{% trans "Personal" %} ({{ user.username }}):</span>
					<ul>
					<li><a href="{% url 'infos_perso' %}">{% trans "Personal info" %}</a></li>
					<li><a href="{% url 'logout' %}?next={{ request.path }}">{% trans "Logout" %}</a></li>
					</ul>
				</li>
				{% else %}
				<li class="nav_group">
					<span class="title">{% trans "Personal" %}:</span>
					<ul>
					<li><a href="{% url 'login' %}?next={{ request.path }}">{% trans "Login" %}</a></li>
					<li><a href="{% url 'django_registration_register' %}">{% trans "Create account" %}</a></li>
					</ul>
				</li>
				{% endif %}
				{% block extra_navigation %}
				{% if event %}
				<li class="nav_group">
					<span class="title">{{ event }}:</span>
					<ul>
					<li><a href="{{ event.get_absolute_url }}">{% trans "Programme" %}</a></li>
					<li><a href="{% url 'infos_event_registration' event.id %}">{% trans "Participants" %}</a>{% if user.is_authenticated %}</li>
					<li><a href="{% url 'infos_user_registration' event.id %}">{% trans "(Un)register" %}</a>{% endif %}</li>
					</ul>
				</li>
				{% endif %}
				{% endblock %}
				{% if user.is_staff %}
				<li class="nav_group">
					<span class="title">{% trans "Actions" %}:</span>
					<ul class="admin">
					<li><a href="/admin/">{% trans "Admin site" %}</a></li>
					{% block admin_links %}
					{% endblock %}
					</ul>
				</li>
				{% endif %}
			</ul></div>
		</div>
  </body>
</html>
