{% extends 'base.html' %}
{% load i18n %}
{% block content %}

<h1>
{% trans "Rencontres mensuelles “CHoCoLa”<br/>Curry-Howard : Calcul et Logique" %}
</h1>

<h2>Description</h2>

{% blocktrans %}<p>
Suite à celles mises en œuvre dans le cadre du projet ANR
CHoCo (2007&ndash;2010),
nous mettons en place des rencontres mensuelles à Lyon, visant à
fédérer la communauté (française en particulier) autour du domaine du
calcul et de la logique.
Chaque journée s'articulera autour de quelques exposés, avec
d'importantes pauses pour laisser le temps aux discussions
informelles. Une attention particuliere est portée a l'ouverture aux
doctorants.
</p><p>
À titre indicatif, les sujets abordés tourneront certainement autour
de : logique, calcul, sémantique, Curry-Howard, réécriture, chocolat,
concurrence, réalisabilité, théorie des types, complexité implicite,
typage, preuves…
</p>{% endblocktrans %}

{% if event %}
<h2>{% trans "Next meeting" %}</h2>
{% include "seminar/event_div.html" %}
{% endif %}

{% url 'seminar-session-feed' as ics_url %}
{% blocktrans %}<p>
La liste des sessions est
<a href="{{ ics_url }}">disponible au format iCalendar</a>
pour intégration dans votre calendrier électronique.
</p>{% endblocktrans %}

<h2>{% trans "Organisation" %}</h2>

{% blocktrans %}<p>
Ces rencontres sont organisées un jeudi par mois
sur une journée complète à l'<a href="/acces.html">ENS Lyon</a>.
Le programme typique est constitué de trois exposés plutôt longs
(entre 1h et 2h chacun) de 10h30 a 17h00.
Les frais de mission des participants enregistrés à l'avance via le
système d'inscription sont pris en charge intégralement par les
organisateurs des rencontres. Le repas de midi est organisé sur place.
</p>{% endblocktrans %}

<h2>{% trans "Lieu" %}</h2>

{% blocktrans %}<p>
Les rencontres ont lieu à l'ENS Lyon, site Monod, là où se trouve l'équipe
<a href="http://www.ens-lyon.fr/LIP/PLUME/">Plume</a> du laboratoire
<a href="http://www.ens-lyon.fr/LIP/">LIP</a>.
Les exposés sont en général dans l'Amphithéâtre B, au troisième étage.
Pour plus d'information sur l'accès à l'ENS Lyon, voir la
<a href="http://www.ens-lyon.fr/LIP/index.php/useful-informations#Venir">page
	d'information</a> du LIP ou
<a href="http://www.ens-lyon.fr/en/campus-life/campus-tour/maps-directions">celle
	de l'ENS Lyon</a>.
</p>{% endblocktrans %}

<h2>{% trans "Liste de diffusion" %}</h2>

{% blocktrans %}<p>
Les annonces seront diffusées uniquement via la liste de
diffusion <tt>chocola@ens-lyon.fr</tt>.  Pour vous inscrire, envoyez à
l'adresse
<a href="mailto:sympa@listes.ens-lyon.fr?subject=subscribe "><tt>sympa@listes.ens-lyon.fr</tt></a>
un message dont le sujet est «<code>subscribe chocola Prénom Nom</code>».
</p>{% endblocktrans %}

<h2>{% trans "Code de conduite" %}</h2>

{% blocktrans %}<p>
Les rencontres CHoCoLa s'engagent à fournir un cadre inclusif
d'où le harcèlement est banni dans toutes les interactions, indépendamment du
genre, de l'orientation sexuelle, du handicap, de l'apparence physique, de la
race ou de la religion. Cet engagement concerne les rencontres qu'elles aient
lieu sur site ou en ligne, ainsi que la communication interne et externe. Il
s'applique à toute interaction, indépendamment de l'affiliation ou du grade.
La communauté CHoCoLa promeut la liberté de pensée et d'expression, et, à ce
titre, les interactions entre participant.es doivent se tenir dans un
environnement qui reconnaisse la valeur intrinsèque de chaque personne en
étant respectueux de chacun.e. Les rencontres CHoCoLa ne tolèrent aucune forme
de harcèlement. La notion de harcèlement fait référence à toute forme de
comportement visant à exclure, intimider, ou procurer un sentiment de malaise.
Le harcèlement inclut, sans se limiter à cela, l'utilisation d'un langage
insultant ou dégradant, la photographie ou l'enregistrement de manière
abusive, un contact physique inapproprié,  une attention sexuelle importune,
ainsi que le partage de contenu non souhaité visant une personne en
particulier (par exemple du cyber-harcèlement, ou du contenu à caractère
sexuel ou violent).
</p><p>
Quiconque subit, observe ou est au courant d'un comportement menaçant est
encouragé à signaler l'incident sur
<a href="mailto:chocola-vss@listes.ens-lyon.fr">chocola-vss@listes.ens-lyon.fr</a>.
L'information transmise sera maintenue confidentielle. Dans l'éventualité où
une réponse publique est nécessaire, les identités des victimes et des
personnes à l'origine du signalement demeureront confidentielles, sauf si
celles-ci donnent leur accord.
</p><p>
Les organisateurs/organisatrices des rencontres CHoCoLa se réservent le droit
d'agir de manière appropriée pour encourager un cadre inclusif et respectueux.
Les organisatrices/organisateurs des rencontres CHoCoLa pourront demander à
des participant.es qui ne respectent pas ces règles de quitter la rencontre, à
leur discrétion.
</p>{% endblocktrans %}

<h2>{% trans "Correspondants" %}</h2>

<p>
{% blocktrans %}Pour plus d'informations vous pouvez contacter l'un des
correspondants locaux:{% endblocktrans %}
</p>
<ul>
<li><a href="http://research.crubille.lautre.net/">Raphaëlle Crubillé</a>
	(LIS) &ndash; Marseille</li>
<li><a href="https://www.irif.fr/~guatto/">Adrien Guatto</a>
	(IRIF) &ndash; Paris centre</li>
<li><a href="http://perso.ens-lyon.fr/daniel.hirschkoff/">Daniel Hirschkoff</a>
	(LIP) &ndash; Lyon, Grenoble et autres sites</li>
<li><a href="http://www.lama.univ-savoie.fr/~hyvernat/">Pierre Hyvernat</a>
	(LAMA) &ndash; Chambéry</li>
<li><a href="http://guilhem.jaber.fr/">Guilhem Jaber</a>
	(LS2N) &ndash; Nantes</li>
<li><a href="http://perso.ens-lyon.fr/olivier.laurent/">Olivier Laurent</a>
	(LIP) &ndash; Lyon, Grenoble et autres sites</li>
<li><a href="https://www.i2m.univ-amu.fr/perso/etienne.miquey/">Étienne Miquey</a>
	(I2M) &ndash; Marseille</li>
<li><a href="https://lacl.fr/~lpellissier/">Luc Pellissier</a>
	(LACL) &ndash; Paris Est</li>
<li><a href="http://perso.ens-lyon.fr/damien.pous/">Damien Pous</a>
	(LIP) &ndash; Lyon, Grenoble et autres sites</li>
<li><a href="http://perso.ens-lyon.fr/colin.riba/">Colin Riba</a>
	(LIP) &ndash; Lyon, Grenoble et autres sites</li>
<li><a href="http://gallium.inria.fr/~scherer/">Gabriel Scherer</a>
	(Inria Saclay) &ndash; Paris Sud</li>
<li><a href="https://www.seiller.org/">Thomas Seiller</a>
	(LIPN) &ndash; Paris Nord</li>
</ul>
<p>{% blocktrans %}
Si votre site n'a pas de correspondant naturel ci-dessus, n'hesitez
pas a contacter l'un des correspondants lyonnais.
{% endblocktrans %}</p>

{% endblock %}
