{% extends "base.html" %}
{% load i18n %}
{% block title %}Chocola – {% trans "Personal information" %}{% endblock %}
{% block content %}

<h2>{% trans "Your account" %}</h2>

<ul>
	<li>{% trans "Username:" %} <code>{{ user.username }}</code></li>
	<li>{% trans "Last name" %}: {{ user.last_name }}</li>
	<li>{% trans "First name" %}: {{ user.first_name }}</li>
	<li>{% trans "E-mail address" %}: <code>{{ user.email }}</code>
</ul>

{% url 'password_change' as passwd_url %}
<p>{% blocktrans %}
You can <a href="{{ passwd_url }}">change your password</a>.
{% endblocktrans %}</p>

<h2>{% trans "Administrative information" %}</h2>

{% if user.profile %}
<p>
<a href="{% url 'infos_edit_profile' %}">{% trans "Update your information" %}</a></li>
</p>
{% else %}
<p>{% blocktrans %}
You did not fill the administrative form yet. This step is necessary if you
want your missions to be funded.
{% endblocktrans %}</p>
<p>
<a href="{% url 'infos_create_profile' %}">{% trans "Fill in the information" %}</a></li>
</p>
{% endif %}

{% endblock %}
