{% extends 'infos/registration_base.html' %}
{% load i18n %}
{% block content %}
{{ block.super }}

<form action="." method="post" class="registration_form">
{% csrf_token %}
{% for group in form.field_groups %}{% if not group.title %}
	{% for field in form %}{% if field.name in group.fields %}
	{% if field.is_hidden %}{{ field }}{% else %}
	<p>
		<label for="id_{{ field.html_name }}">{{ field.help_text }}:</label>
		{{ field }}{{ field.errors }}
	</p>
	{% endif %}{% endif %}{% endfor %}
	{% if form.non_field_errors %}{{ form.non_field_errors }}{% endif %}

	{% if fundings_with_cost %}
	<div class="remark" id="funding_remark">
		<p>{% trans "An estimated cost is required for the following fundings:" %}</p>
	<ul>
		{% for funding in fundings_with_cost %}
		<li>{{ funding.name }}</li>
		{% endfor %}
	</ul>
	</div>
	{% endif %}

	<table id="form_table">
{% else %}
	<tbody>
	<tr><td colspan="2"><h3>{% trans group.title %}</h3></td></tr>
	{% for field in form %}{% if field.name in group.fields %}
	{% if field.is_hidden %}{{ field }}{% else %}
	<tr>
		<th><label for="id_{{ field.html_name }}">{{ field.help_text }}:</label></th>
		<td>{{ field }}{{ field.errors }}</td>
	</tr>
	{% endif %}{% endif %}{% endfor %}
	</tbody>
{% endif %}{% endfor %}
</table>
<input type="submit" value="{% trans "Submit" %}"/>
</form>

<script type="text/javascript">
	var funding_with_info = { '': false{% for funding in funding_set %},
		'{{ funding.id }}': {{ funding.need_info|lower }}{% endfor %} };
	function onFundingSelected () {
		var input = document.getElementById('id_funding');
		var table = document.getElementById('form_table');
		if (funding_with_info[input.options[input.selectedIndex].value])
			table.style.display = 'table';
		else
			table.style.display = 'none';
	}
	document.getElementById('id_funding').onchange = onFundingSelected;
	onFundingSelected();
	document.getElementById('funding_remark').style.display = 'none';
</script>

{% endblock %}
