{% extends 'infos/registration_base.html' %}
{% load i18n %}
{% block content %}
{{ bock.super }}

<p>
{% if registration.funding %}
{% trans "Required funding" %}: {{ registration.funding.name }}{% if registration.cost %},
{{ registration.cost }} &euro;{% endif %}.
{% else %}
{% trans "No funding is required." %}
{% endif %}
</p>

<ul>
	<li><a href="{% url 'infos_edit_registration' event.id userinfo.user.username %}">{% trans "Update the registration" %}</a></li>
	<li><a href="{% url 'infos_delete_registration' event.id userinfo.user.username %}">{% trans "Cancel the registration" %}</a></li>
</ul>

{% endblock %}
