{% extends 'infos/registration_base.html' %}
{% load i18n %}
{% block content %}
{{ block.super }}

<form action="." method="post">{% csrf_token %}
	<p>{% trans "Do you want to cancel this registration?" %}</p>
	<input type="submit" value="{% trans "Confirm" %}"/>
</form>

{% endblock %}
