{% extends 'seminar/event_base.html' %}
{% load i18n %}
{% block content %}

{% block subtitle %}
{% if userinfo %}
<h2>{% blocktrans with user=userinfo.user.get_full_name %}
Registration for {{ user }}{% endblocktrans %}</h2>
{% else %}
<h2>{% trans "New registration" %}</h2>
{% endif %}
{% endblock %}

{% endblock %}
