{% extends 'seminar/event_base.html' %}
{% load static %}
{% block content %}

<h2>Liste des inscrits</h2>

{% if perms.infos.view_info %}
<ul class="admin">
	<li><a href="{% url 'infos_event_registration_csv' event.id %}">Export CSV</a></li>
	<li><a href="{% url 'infos_registration_new' event.id %}">Ajouter une inscription</a></li>
</ul>
{% endif %}

<div class="poll">
	<table class="peopleList">
	<thead>
		<tr>
			<th>nom</th> <th>prénom</th>{% if perms.infos.view_info %}
			<th>financement</th> <th>montant</th> <th>infos</th> <th>actions</th>{% endif %}
		</tr>
	</thead>
	<tbody>
		{% for reg in registration_list %}
		{% with user=reg.userinfo.user %}
		<tr class="{% cycle 'even' 'odd' %}">
			<td>{{ user.last_name }}</td>
			<td>{{ user.first_name }}</td>
			{% if perms.infos.view_info %}
			{% if reg.funding %}<td>{{ reg.funding.name }}</td>
			<td>{% if reg.cost %}{{ reg.cost }} &euro;{% endif %}</td>
			{% else %}<td colspan="2">&mdash;</td>{% endif %}
			<td>
				<a class="admin" href="{% url 'infos_user_detail' user %}">
					<img src="{% static "images/icon-info.png" %}" alt="HTML" title="informations sur la personne"/></a>
				<a class="admin" href="{% url 'infos_user_pdf' user %}">
					<img src="{% static "images/icon-pdf.png" %}" alt="PDF" title="informations en PDF"/></a>
			</td>
			<td>
				<a class="admin" href="{% url 'infos_edit_registration' event.id user.username %}">
					<img src="{% static "images/icon-edit.png" %}" alt="modifier" title="modifier l'inscription"/></a>
				<a class="admin" href="{% url 'infos_delete_registration' event.id user.username %}">
					<img src="{% static "images/icon-delete.png" %}" alt="supprimer" title="annuler l'inscription"/></a>
			</td>
			{% endif %}
		</tr>
		{% endwith %}
		{% endfor %}
	</tbody>
	</table>
</div>

{% endblock %}
