{% extends 'seminar/event_base.html' %}
{% block content %}

<h2>Inscription pour {{ userinfo.user.get_full_name }}</h2>

<p>
Pas d'inscription.
</p>

<ul>
	<li><a href="{% url 'infos_create_registration' event.id userinfo.user.username %}">S'inscrire</a></li>
</ul>

{% endblock %}
