{% extends 'base.html' %}
{% load i18n %}
{% block content %}

<h2>{{ profile.user.get_full_name }}</h2>

<table class="userInfo">
	<tr><td colspan="2">
			<h3>{% trans "Identity" %}</h3>
	</td></tr>
	<tr>
		<th>{% trans "Last name" %}:</th>
		<td>{{ profile.user.last_name }}</td>
	</tr>
	<tr>
		<th>{% trans "First name" %}:</th>
		<td>{{ profile.user.first_name }}</td>
	</tr>
	<tr>
		<th>{% trans "E-mail address" %}:</th>
		<td><a href="mailto:{{ profile.user.email }}">{{ profile.user.email }}</a></td>
	</tr>
	<tr>
		<th>{% trans "Birth date" %}:</th>
		<td>{{ profile.birth_date }}</td>
	</tr>
	<tr>
		<th>{% trans "Birth place" %}:</th>
		<td>{{ profile.birth_place }}</td>
	</tr>
	<tr>
		<th>{% trans "Nationality" %}:</th>
		<td>{{ profile.nationality }}</td>
	</tr>
	<tr>
		<th>{% trans "Address" %}:</th>
		<td>{{ profile.personal_address|linebreaks }}</td>
	</tr>

	<tr><td colspan="2">
		<h3>{% trans "Professional information" %}</h3>
	</td></tr>
	<tr>
		<th>{% trans "Position" %}:</th>
		<td>{{ profile.position }}</td>
	</tr>
	<tr>
		<th>{% trans "Institution" %}:</th>
		<td>{{ profile.institution }}</td>
	</tr>
	<tr>
		<th>{% trans "Address" %}:</th>
		<td>{{ profile.work_address|linebreaks }}</td>
	</tr>

	<tr><td colspan="2">
		<h3>{% trans "Bank information" %}</h3>
	</td></tr>
	<tr>
		<th>{% trans "Bank" %}:</th>
		<td>{{ profile.bank_name }}</td>
	</tr>
	<tr>
		<th>{% trans "Address" %}:</th>
		<td>{{ profile.bank_address|linebreaks }}</td>
	</tr>
	<tr>
		<th>{% trans "IBAN" %}:</th>
		<td>{{ profile.iban }}</td>
	</tr>
	<tr>
		<th>{% trans "Bank ID" %}:</th>
		<td>
			{% if profile.rib %}<a href="{{ profile.rib.url }}">{% trans "download" %}</a>
			{% else %}{% trans "not available" %}{% endif %}
		</td>
	</tr>
</table>

{% endblock %}
