{% extends 'seminar/event_base.html' %}
{% load i18n %}
{% block content %}

<form action="." method="post">{% csrf_token %}
	<p>{% trans "Do you want to cancel your registration?" %}</p>
	<input type="submit" value="{% trans "Confirm" %}"/>
</form>

{% endblock %}
