{% extends 'seminar/event_base.html' %}
{% load i18n %}
{% block content %}

<p><strong>{% trans "You are not registered" %}</strong></p>

<ul>
	<li><a href="{% url 'infos_create_user_registration' event.id %}">{% trans "Register" %}</a></li>
</ul>

{% endblock %}
