{% extends 'seminar/event_base.html' %}
{% load i18n %}
{% block content %}

<p><strong>{% trans "You are registered." %}</strong></p>

<p>
{% if registration.funding %}
{% trans "Required funding" %}: {{ registration.funding.name }}{% if registration.cost %},
{{ registration.cost }} &euro;{% endif %}.
{% else %}
{% trans "No funding is required." %}
{% endif %}
</p>

<ul>
	<li><a href="{% url 'infos_edit_user_registration' event.id %}">{% trans "Update the registration" %}</a></li>
	<li><a href="{% url 'infos_delete_user_registration' event.id %}">{% trans "Cancel the registration" %}</a></li>
</ul>

{% endblock %}
