{% extends "base.html" %}
{% load i18n %}
{% block title %}Chocola – {% trans "Personal information" %}{% endblock %}
{% block content %}

<h2>{% trans "Personal information" %}</h2>

<p>{% blocktrans %}
To register for a meeting, you must first fill out this form. Personal,
administrative and bank information are required only if you want your
expenses to be covered by ENS Lyon.
{% endblocktrans %}</p>

<form method="post" enctype="multipart/form-data" action=".">{% csrf_token %}
	{% if form.non_field_errors %}
	<tr><td colspan="2">{{ form.non_field_errors }}</td></tr>
	{% endif %}
	<table>
		{% for field in form %}
		{% if field.html_name == "username" %}<tr><td colspan="2">
				<h3>{% trans "Identity" %}</h3></td></tr>{% endif %}
		{% if field.html_name == "position" %}<tr><td colspan="2">
				<h3>{% trans "Personal information" %}</h3></td></tr>{% endif %}
		{% if field.html_name == "birth_date" %}<tr><td colspan="2">
				<h3>{% trans "Professional information" %}</h3></td></tr>{% endif %}
		{% if field.html_name == "bank_name" %}<tr><td colspan="2">
				<h3>{% trans "Bank information" %}</h3></td></tr>{% endif %}
		<tr>
			<th><label for="id_{{ field.html_name }}">{{ field.label }}:</label></th>
			<td>{{ field.errors }}{{ field }}</td>
		</tr>
		{% endfor %}
		<tr><td colspan="2"><input type="submit" value="{% trans "Submit" %}"/></td></tr>
	</table>
</form>

{% endblock %}
