html, body {
	margin: 0;
	padding: 0;
}

#main {
	margin: 1ex;
}

h1 {
	margin-bottom: 1ex;
}

h2 {
	margin: 1ex 0;
}

#sidebar {
	position: relative;
	border-style: solid none solid none;
	border-width: 2pt;
	min-height: 34pt;
	padding: 0;
	margin: 0;
}

#sitename .logo, #logo_ens, #logo_anr {
	float: right;
	margin: 0 2pt;
	padding: 2pt;
	background: white;
	font-size: 240%;
	height: 26pt;
}

.logo img, #logo_ens img, #logo_anr img {
	height: 100%;
}

#navigation {
	margin: 0 1ex;
	background: inherit;
	color: #e0a68d;
}

#navigation a {
	color: white;
	text-decoration: none;
}
