/* Main structure */

html, body {
	margin: 0;
	padding: 0;
}

#main {
	position: absolute;
	top: 0; left: 0;
	border-style: none none none solid;
	border-width: 15em;
	min-width: 35em; max-width: 55em;
	padding: 15pt 2em;
	margin: 0;
}

#sidebar {
	position: absolute;
	top: 0; left: 0; width: 15em; min-height: 100%;
	margin: 0;
	padding: 0;
}

/* Components in the sidebar */

#sitename {
	margin: 15pt 3px 15pt 0;
	text-align: center;
}

.logo {
	margin: 0;
	padding: 5pt;
	text-align: center;
	font-size: 340%;
}

.logo img {
	width: 100%;
}

#logo_ens, #logo_anr, #logo_recre, #logo_region {
	padding: 5pt 10pt;
	text-align: center;
}

#logo_ens img { width: 60%; }
#logo_anr img { width: 50%; }
#logo_recre img { width: 50%; }
#logo_region img { width: 80%; }
#logo_milyon img { width: 80%; }
#logo_ia img { width: 30%; }
#logo_ulyon img { width: 60%; }

#egg {
	text-align: right;
	margin: -5pt 0 0 0;
	height: 5pt;
}

#egg a {
	text-decoration: none;
}

#navigation {
	margin: 15pt 3px 15pt 0;
	padding: 1px 0;
}

#navigation ul, #navigation li {
	margin: 0;
}

#navigation .nav_group {
	display: block;
	margin: 1ex;
}

#navigation .nav_group .title {
	display: block;
	margin: 0 1ex;
	text-transform: lowercase;
}

#navigation .nav_group li {
	display: block;
	margin: 0 0 0 3ex;
	text-indent: -2ex;
}

#navigation .nav_group li:before {
	display: relative;
	right: 0;
	content: "- ";
	width: 1em;
}

#navigation a {
	text-decoration: none;
	text-transform: lowercase;
}
