/* Colors {{{1 */

#sidebar {
	background-color: #612e19;
}

#main, #sidebar {
	border-color: #612e19;
}

html, #main, #sitename, #navigation {
	background: white;
	color: black;
}

h1, h2, h3, a, #header {
	color: #ba5930;
}

.seminar_event h3 {
	background: #f0ecd8;
}

.admin, .admin a {
	color: #c00;
}

/* Logo */

.logo {
	background: white;
	font-weight: bold;
	color: red;
	letter-spacing: -0.05em;
}

.logo:first-letter {
	color: black;
	text-transform: lowercase;
}

/* Headers {{{1 */

#header {
	margin: 0 0 1ex 0;
	font-style: italic;
}

h1 {
	margin: 0 1em 1em 0;
	padding: 0 0 1ex 0;
	border-width: 1px;
	font-size: 20pt;
	font-weight: normal;
	text-align: left;
}

h2, h3 {
	padding: 0;
	text-indent: 0;
	text-align: left;
}

h2 {
	margin: 2em 20% 1em 0;
	font-size: large;
	font-weight: bold;
}

h3 {
	margin: 1.5em 20% 0.8em 0;
	font-size: medium;
	font-weight: normal;
}

/* Paragraphs and lists {{{1 */

html {
	font-family: sans-serif;
}

p {
	margin: 1ex 0;
	text-indent: 0;
	text-align: justify;
}

p.noindent {
	text-indent: 0;
}

ol, ul {
	margin: 0 0 0 20pt;
	padding: 0;
}

li {
	margin: .5ex 0;
}

dl {
	margin: 0;
	padding: 0;
}

dt {
	margin: 1ex 0 0 0;
	padding: 0;
	font-weight: bold;
}

dd {
	margin: 0 0 0 20pt;
}

div.strong {
	margin: .5ex 20pt;
	font-style: italic;
}

.userInfo th {
	text-align: left;
	font-weight: normal;
	font-style: italic;
	vertical-align: top;
}

.userInfo td {
	vertical-align: top;
}

/* Forms {{{1 */

form table {
	table-layout: fixed;
}

form th {
	width: 12em;
	font-weight: normal;
	text-align: right;
	vertical-align: top;
}

form thead th {
	text-align: center;
}

form td {
	vertical-align: top;
}

.errorlist {
	color: red;
}

.remark {
	font-size: small;
	margin: 1ex 2em;
}
.remark ul, .remark li, .remark p {
	margin-top: 0;
	margin-bottom: 0;
}

