{% extends "base.html" %}
{% load i18n %}
{% block title %}Chocola – {% trans "Login" %}{% endblock %}
{% block content %}

<h2>{% trans "If you are already registered" %}</h2>

<p>{% trans "Sign in:" %}</p>
<form method="post" action="{% url 'login' %}">{% csrf_token %}
	<table>
		{% if form.non_field_errors %}
		<tr><td colspan="2">{{ form.non_field_errors }}</td></tr>
		{% endif %}
		{% for field in form %}
		<tr>
			<th><label for="id_{{ field.html_name }}">{% if field.html_name == "username" %}Pseudo{% else %}{{ field.label }}{% endif %}:</label></th>
			<td>{{ field.errors }}{{ field }}</td>
		</tr>
		{% endfor %}
		<tr><th></th><td><input type="submit" value="{% trans "Enter" %}"/></td></tr>
	</table>
	<input type="hidden" name="next" value="{{ next }}"/>
</form>

{% url 'password_reset' as reset_url %}
<p>{% blocktrans %}
If you have forgotten your password, you can
<a href="{{ reset_url }}">reset it</a>.
{% endblocktrans %}</p>

<h2>{% trans "If you are not registered yet" %}</h2>

{% url 'django_registration_register' as register_url %}
<p>{% blocktrans %}
You can <a href="{{ register_url }}">create an account</a>.
{% endblocktrans %}</p>

{% endblock %}
