{% extends 'seminar/base.html' %}
{% load i18n %}

{% block title %}
Chocola &ndash; Rencontres
{% endblock %}

{% block navigation_menu %}
{{ block.super }}
{% if perms.seminar.add_event %}
	<li class="seminar_admin"><a href="{% url 'seminar-event-create' %}">New event</a></li>
{% endif %}
{% endblock %}

{% block content %}

{% url 'seminar-session-feed' as ics_url %}
{% blocktrans %}<p>
La liste des sessions est
<a href="{{ ics_url }}">disponible au format iCalendar</a>
pour intégration dans votre calendrier électronique.
</p>{% endblocktrans %}

{% for event in event_list %}
{% include "seminar/event_div.html" %}
{% endfor %}

{% endblock %}
