{% extends 'seminar/event_base.html' %}
{% load markdown_deux_tags %}
{% block main %}
<div id="main">

<h1>
	{{ event.title|default:event.kind.name }},
	<span class="seminar_date">
		{{ event.date_begin|date:"DATE_FORMAT" }}
		{% if event.date_end != event.date_begin %}
		&ndash; {{ event.date_end|date:"DATE_FORMAT" }}
		{% endif %}
	</span>
</h1>

{% if event.short_description %}
<div class="seminar_description">
	{{ event.short_description|markdown }}
</div>
{% endif %}

{% if event.long_description %}
<div class="seminar_long_description">
	{{ event.long_description|markdown }}
</div>
{% endif %}

{% if event.talk_set.all %}
<h2>Programme</h2>

{% if event.schedule_is_set %}
{% include "seminar/session_list_content.html" with session_list=event.session_set.all %}
{% else %}
{% include "seminar/talk_list_content.html" with talk_list=event.talk_set.all %}
{% endif %}

{% endif %}

{% if event.post_scriptum %}
<div class="seminar_postscriptum">
	{{ event.post_scriptum|markdown }}
</div>
{% endif %}

</div>
{% endblock %}
