{% extends 'seminar/base.html' %}
{% load i18n %}

{% block title %}
{{ event }}
{% endblock %}

{% block main %}
<div id="main">
	<div id="header">
		{{ event.title|default:event.kind.name}},
		<span class="seminar_date">
			{{ event.date_begin|date:"DATE_FORMAT" }}
			{% if event.date_end != event.date_begin %}
			&ndash; {{ event.date_end|date:"DATE_FORMAT" }}
			{% endif %}
		</span>
	</div>
	{% block content %}
	{% endblock %}
</div>
{% endblock %}

{% block admin_links %}
	{% if perms.seminar.change_event %}
	<li><a href="{% url 'seminar-event-edit' event.slug %}">{% trans "Edit event" %}</a></li>
	{% endif %}
	{% if perms.seminar.delete_event %}
	<li><a href="{% url 'seminar-event-delete' event.slug %}">{% trans "Delete event" %}</a></li>
	{% endif %}
	{% if perms.seminar.add_talk %}
	<li><a href="{% url 'seminar-talk-create' event.slug %}">{% trans "New talk" %}</a></li>
	{% endif %}
	{% if perms.seminar.add_session %}
	<li><a href="{% url 'seminar-session-create' event.slug %}">{% trans "New session" %}</a></li>
	{% endif %}
{% endblock %}
