{% extends "base.html" %}
{% load i18n %}
{% block title %}Chocola – {% trans "Registration" %}{% endblock %}
{% block content %}

{% url 'login' as login_url %}
<p>{% trans "Your account is activated." %}</p>
<p>{% blocktrans %}
You can now <a href="{{ login_url }}">sign in</a>.
{% endblocktrans %}</p>

{% endblock %}
