{% extends "base.html" %}
{% load i18n %}
{% block content %}

<h2>{% trans "Password change" %}</h2>

<form method="post" action=".">{% csrf_token %}
	<table>
		{{ form.as_table }}
		<tr><th></th><td><input type="submit" value="{% trans "Submit" %}"/></td></tr>
	</table>
</form>

{% endblock %}
