{% extends "base.html" %}
{% load i18n %}
{% block content %}

{% url 'login' as login_url %}
<p>{% trans "Your password has been reset." %}</p>
<p>{% blocktrans %}
You can now <a href="{{ login_url }}">sign in</a>.
{% endblocktrans %}</p>

{% endblock %}
