{% extends "base.html" %}
{% load i18n %}
{% block title %}Chocola – {% trans "Reset password" %}{% endblock %}
{% block content %}
{% if validlink %}

<h2>{% trans "Reset password" %}</h2>

<form method="post" action=".">{% csrf_token %}
	<table>
		{{ form.as_table }}
		<tr><th></th><td><input type="submit" value="{% trans "Submit" %}"/></td></tr>
	</table>
</form>

{% else %}

<p>
{% trans "The link you followed is invalid." %}
</p>

{% endif %}
{% endblock %}
