{% extends "base.html" %}
{% load i18n %}
{% block title %}Chocola – {% trans "Registration" %}{% endblock %}
{% block content %}

<h2>{% trans "Account creation" %}</h2>

<p>{% blocktrans %}
Please choose a user name, an e-mail address and a password.
A confirmation e-mail will be sent with an activation key.
Your account will have to be activated within 24 hours.
{% endblocktrans %}</p>

<form method="post" action="{% url 'django_registration_register' %}">{% csrf_token %}
	<table>
		{{ form.as_table }}
		<tr><th></th><td><input type="submit" value="{% trans "Submit" %}"/></td></tr>
	</table>
</form>

{% endblock %}
